<style>
.cart-container {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.cart-table-header{
  display: grid;
  grid-template-columns: 1fr 20% 10%;
}

  .cart-table-header p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #2D2D2D;
  }

  .grid-divider {
    border: 0.5px solid #ab7d63;
    border-radius: 4px;
    margin: 20px 0px;
  }

.bottom-cart-container {
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
}

.checkout-form-container {
  display: flex;
  flex-direction: column;
}

.checkout-form-container label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #150886;
  margin-bottom: 4px;
}

textarea {
  background: rgba(249, 249, 249, 0.92);
  border: 1px solid rgba(171, 125, 99, 0.6);
  border-radius: 8px;
}

.total-price-container {
  text-align: right;
}

.total-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  color: #2d2d2d;
}

.shipping-taxes {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #150886;
}

.btn-checkout {
  background: #150886;
  border-radius: 28px;
  color: white;
  border: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 12px;
  margin-top: 32px;
}

@media (max-width: 768px) {
  .cart-container{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .cart-table-header {
    display: flex;
    justify-content: space-between;
  }
  .cart-table-header p {
    font-size: 16px;
  }
  .grid-divider {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .quantity-text {
    visibility: hidden;
  }
  .total-price {
    font-size: 14px;
    line-height: 21px;
  }
  .shipping-taxes {
    font-size: 14px;
  }
  .bottom-cart-container {
    margin-top: 0px;
    flex-direction: column-reverse;
  }
}
</style>
<div class="page-width page-content">

  {%- render 'breadcrumbs' -%}
  <form action="{{ routes.cart_url }}" method="post" novalidate data-location="page" id="CartPageForm">
  <div class="cart-container">
  <header class="section-header text-left{% if cart.item_count == 0 %} section-header--404{% endif %}">
    <h1 class="section-header__title">{{ 'cart.general.title' | t }}</h1>
    <div class="rte text-spacing">
      {%- if cart.item_count == 0 -%}
        <p>{{ 'cart.general.empty' | t }}</p>
      {%- endif -%}
    </div>
  </header>

  {%- if cart.item_count > 0 -%}
    <div class="cart-table-header">
        <p class="product-text">Product</p>
        <p class="quantity-text">Quantity</p>
        <p class="text-right">Price</p>
    </div>
    
    <div class="grid-divider"></div>

    {% for item in cart.items %}
        {%- render 'cart-item', product: item -%}
    {%- endfor -%}
    <div class="grid-divider"></div>
    
<!-- BOTTOM CART -->
    <div class="bottom-cart-container">
    
      <div class="checkout-form-container">
        {% if settings.cart_notes_enable %}
        <label for="CartNote">Comments/Special Instructions</label>
        <textarea id="CartNote" name="note" rows="4" cols="50"></textarea>
        {% endif %}
        <input type="submit" value="Checkout" name="checkout" class="btn-checkout" />
      </div>
      <div class="total-price-container">
        <p class="total-price">{{ cart.total_price | money }}</p>
        <p class="shipping-taxes">Shipping, taxes and promo code calculated at Checkout</p>
      </div>
    </div>
<!-- END BOTTOM CART -->
    </div>

  
<!--       <div class="cart__page">
        
        <div data-products class="cart__page-col">
          
        </div>
        <div class="cart__page-col">
          {% if settings.cart_notes_enable %}
            <div>
              <label for="CartNote">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full cart-notes" id="CartNote">{{ cart.note }}</textarea>
            </div>
          {% endif %}

          <div data-discounts>
            {% if cart.cart_level_discount_applications != blank %}
              <div class="cart__discounts cart__item-sub cart__item-row">
                <div>{{ 'cart.general.discounts' | t }}</div>
                <div class="text-right">
                  {% for cart_discount in cart.cart_level_discount_applications %}
                    <div class="cart__discount">
                      {{ cart_discount.title }} (-{{ cart_discount.total_allocated_amount | money }})
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>

          <div class="cart__item-sub cart__item-row">
            <div>{{ 'cart.general.subtotal' | t }}</div>
            <div data-subtotal>{{ cart.total_price | money }}</div>
          </div>

          {% if settings.cart_terms_conditions_enable %}
            <div class="cart__item-row cart__terms">
              <input type="checkbox" id="CartTerms" class="cart__terms-checkbox">
              <label for="CartTerms">
                {% if settings.cart_terms_conditions_page != blank %}
                  {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_page.url }}
                {% else %}
                  {{ 'cart.general.terms' | t }}
                {% endif %}
              </label>
            </div>
          {% endif %}

          <div class="cart__item-row cart__checkout-wrapper">
            <button type="submit" name="checkout" data-terms-required="{{ settings.cart_terms_conditions_enable }}" class="btn cart__checkout">
              {{ 'cart.general.checkout' | t }}
            </button>

            {% if additional_checkout_buttons and settings.cart_additional_buttons %}
              <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}
          </div>

          <div class="cart__item-row text-center">
            <small>
              {{ 'cart.general.shipping_at_checkout' | t }}<br />
            </small>
          </div>
        </div>
      </div> -->
    </form>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-cart.name"
}
{% endschema %}
